*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
	font-family: poppins;
}


.main{
    width: 100%;
}


.container{
    margin: 0 auto;
    width: 600px;
    margin-top: 10%;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: none;
	box-shadow: 0px 3px 15px rgb(183, 183, 183);
}

.ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;

}

.inputTitle{
    font-size: 25px;
}

.ctn input{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(176, 176, 176);
}

.ctn label{
    font-size: 30px;
}

.button{ 
	/* width: 100px;  */
	padding: 10px 10px; 
	margin: 0px 15px; 
	border: none;
	cursor: pointer; 
	font-size: 22px;
	/* transition: 0.5s;  */
	color: white; 
	background-color: rgb(95, 255, 51);
	font-weight: bold; 
	border-radius: 8px;
	/* box-shadow: 0px 3px 15px rgb(162, 255, 122); */
}



.container button{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    align-self: center;
}

.main_container{
    /* margin: 0 auto;
    width: 60%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10%; */

    margin: 0 auto;
    width: 600px;
    margin-top: 10%;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: none;
	box-shadow: 0px 3px 15px rgb(183, 183, 183);

}

.hid {
    visibility: hidden;
}

.show {
    visibility: visible;

    padding: 10px 10px;
    margin: 0 auto;
    width: 50%; 
	border: none;
	cursor: pointer; 
	font-size: 22px;
	/* transition: 0.5s;  */
	color: white; 
	background-color: rgb(95, 255, 51);
	font-weight: bold; 
	border-radius: 8px;

}
.main_head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.main_body{
    background-color: white;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px;

    border: 1px solid rgb(176, 176, 176);
    border-radius: 20px;
}

.main_Footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#strtQuiz{
    text-align: center;
}

#strtQuiz a{
    font-size: 50px;
    text-decoration: none;
}

#option{
    list-style: none;
}

.nxtbtn{
    margin-top: 10px;
}